@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,700&display=swap');

*{
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
     box-sizing: border-box;
}
body{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
 
}
html{
    scroll-behavior: smooth;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}


/*Encabezado------------*/

.head{

    width: 100%;
    height: 85px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 10;
    height: auto;
    
    /*
    display: flex;
    flex-wrap: wrap;*/
}

.logo{
    display: flex;
    align-items: center;
    float: left;
    line-height: 0px;
}
.logo_imagen{
    height: 50px;
    margin-right: 10px;
}
a{
    color: white;
    text-decoration: none;
    margin-top: 18px;
    font-size: 10px;
}
nav a{
    color: bwlack;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 16px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

nav ul li{
    display: inline-block;
}


nav a:hover{
    background: #585858;
    cursor: pointer;
    color: white;
}
nav li li a{
    background-color:#30e298;
    color: #525252;
    text-decoration: none;
    display: block;
    border-bottom: 4px solid #747474;
    transition: .5s;
}
.ul, ol{
    list-style: none;

}
nav > li{
    float: left;

}
nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
nav li:hover > ul{
    display: block;
}


.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    cursor: pointer;
    margin-right: 40px;
    display: none;

}
#check{
    display: none;
}



/*Index - Slogan inicial*/

button{
    font-size: 15px;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 10px;
    border:2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(0, 0, 0);
    background-color: #30e298;
    margin: 30px;
    cursor: pointer;
}

.download-app button:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
}


#Slogan-Inicial{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center center;
    height:1000px;
    color: white;
    min-width: 475px;
    width: 100%;
    background:rgb(30, 209, 155);
    background: -webkit-linear-gradient(to right, #07181f69, #34e89d86), url("image/Fondo2.png"); 
    background: linear-gradient(to right, #091d2577, #34e89d88), url("image/Fondo2.png"); 
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    
}
#Slogan-Inicial .container{
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
}

#Slogan-Inicial .presentation h2{
    margin: 0;
    font-size: 96px;
    color: #30e298;
}

#Slogan-Inicial .Olas{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#Slogan-Inicial .container .image-download{
    display: flex;
    justify-content: center;

}
.img-1{
    width: 210px;
    height: 60.5px;
    border-radius: 5px;
    padding-right: 10px;
}
.img-2{
    width: 210px;
    height: 60.5px;
    border-radius: 5px;
    padding-left: 10px;
    /*
    box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
    */
}

.img-1:hover{
    width: 237px;
    height: 70.5px;
    transition: .5s;
    cursor: pointer;
}
.img-2:hover{
    width: 237px;
    height: 70.5px;
    transition: .5s;
    cursor: pointer;
}

/*Caracteristicas--------------*/

#Caracteristicas {
    display: flex; 
    height:auto;

    background: linear-gradient(to bottom, rgb(0, 214, 125), rgb(30, 209, 155));
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position:  center;
    min-width: 475px;
}

#Caracteristicas .contenido{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}
#Caracteristicas .container .imagenPrincipal img{
    width: 600px;
    height: 800px;
}



#Ola_caracteristicas .Olas{
    
    position: static;
    bottom: 1;
    width: 100%;
    margin-top: -50px;
    min-width: 475px;
}

#Ola_caracteristicas .Olas{
    
    background-color: rgb(30, 209, 155)
}

#Caracteristicas .container .Cuadrados .Seccion .Cuadros h2{
    font-size: 25px;
    margin-top: 50px;
    color: rgb(0, 0, 0);

}


#Caracteristicas .container .Cuadrados .Seccion .Cuadros p{

    font-size: 15px;
    margin-top: 25px;
    width: 160px;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
    
}
#Caracteristicas .container .Cuadrados .Seccion .Cuadros{
    width: 200px;
    height: 260px;
    margin: 20px;
    text-align: center;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    border-radius: 25px;
    color: rgb(0, 0, 0);

    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center ;
    

}

#Caracteristicas .container .Cuadrados {
    justify-content: center;
    max-width: 800px;
    align-items: center;
    min-width: 300px;
    margin-top: 120px;


}

#Caracteristicas .container .Cuadrados .Seccion{
    display: flex;
    margin: auto;
}

#Caracteristicas h1{
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 56px;
}

#Caracteristicas p{
    margin: auto;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

/*Segmentos de Usuarios--------------*/

#Segmentos {
    background-size: auto;
    background-color: #000000;
    margin: auto;
    height: auto;
    min-width: 475px;
    
}
#Segmentos .container{
    box-sizing: border-box;
    justify-content: center;
    margin-top: -20px;

}
#Segmentos  .arredandor {
    text-align: left;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 90px;
    height: 550px;
    width: auto;

}
#Segmentos  .Conductor {
    text-align: left;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    display: flex;

}

#Segmentos  h2{
  
    text-align: center;
    margin-bottom: 20px;
    color: #2ef190;;
    font-size: 25px;
}

#Segmentos  .titulo p{
  
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.arredandor h2{
margin-right: 90px;
}
.Conductor h2{
    margin-right: 90px;
}

#Segmentos .title {
  
    color: #2ef190;
    font-size: 3.0rem;
}
#Segmentos .titulo {
  
    color: #ffffff;
    font-size: 3.0rem;
    margin-bottom: 90px;


}
#Segmentos   p{
    width: 85%;
    text-align: justify;
    padding: 0px 30px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    

}

#Segmentos .arredandor{
    display: flex;
    grid-area: img-arrendador;
}
.img-arrendador{
    background-image: url("image/Arrendador.jpg");
}

.Conductor button{
    margin-right: 95px;
}
.arredandor button{
    margin-right: 95px;
}
.Conductor button:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
}
.arredandor button:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
}
/*
.img-arrendador::after{
    content: "Gana con nosotros!";
    grid-area: img-arrendador;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;


}
.img-arrendador:hover::after{
    clip-path: circle(150% at top right);


}
*/
.img-parkero{
    background-image: url("image/ConductorInicio.jpg");
}
/*
.img-parkero::after{
    content: "Gana con nosotros!";
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}
.img-parkero:hover::after{
    clip-path: circle(150% at top right);
}
*/

.img-arrendador,.img-parkero{
    width: 500px;
    height: 300px;
    background-position: center;
    border-radius: 5%;
    object-fit: cover;
    /*
    box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
    */
}
/*Testimonios-------------*/

#thirdsection-1{
    height: auto;
    background: linear-gradient(to bottom, rgb(0, 214, 125), rgb(30, 209, 155));
    margin: auto;
    background-size: cover;
    min-width: 475px;
}

#thirdsection-1 .container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

#thirdsection-1 .Testimonios_texto .h1{
    margin: auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
#thirdsection-1 .Testimonios_texto p{
    margin: auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: rgb(71, 71, 71);
}


#thirdsection-1 .testimonio{
    width: 380px;
    height: 500px;
    margin: 50px;
    padding: 75px;
    text-align: center;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    border-radius: 15px;
    color: rgb(223, 223, 223);
}

#thirdsection-1 .container .testimonio p{
    margin-top: -80px;
}

#thirdsection-1 .container .testimonio h3{
    margin-top: 25px;
    font-size: 2rem;
    color: #30e298;
}

#thirdsection-1 .container .testimonio h4{
    font-size: 1.0rem;
    margin-top: 25px;
}

#thirdsection-1 .container .testimonio h1{
    font-size: 1.0rem;
    margin-top: 25px;
}

#thirdsection-1 .container .testimonio .icons{
    padding: 10px;
    color: #30e298;
    font-size: 1.2rem;
    margin-top: 25px;
}

.foto-perfil1,.foto-perfil2,.foto-perfil3, .foto-perfil4{
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top: -120px;

    /*
    box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
    */
}
#thirdsection-1 .foto-perfil1{
    background-image: url("image/nayde.jpg");
}

#thirdsection-1 .foto-perfil2{
    background-image: url("image/Perfil2.jpg");
}

#thirdsection-1 .foto-perfil3{
    background-image: url("image/Perfil1.jpg");
}
#thirdsection-1 .foto-perfil4{
    background-image: url("image/Perfil3.jpg");
}
.testimonio h1{
    margin-top: -20px;
    font-size: 0.1em;
}

#thirdsection-1 .testimonio p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    
}
.foursection{
    height: 20vh;
    background-color: #000000;
    color: white;
    font-size: 0.3em;
    
}
#foursection H1{

    color: white;
     margin-top: 30PX;
     margin-bottom: 60px;
     text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#foursection H2{

    color: white;
     text-align: center;
     margin-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#foursection H3{

    color: white;
     text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Nosotros-----*/



#fivesection {
    background: linear-gradient(to bottom, rgb(0, 214, 125), rgb(30, 209, 155));
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    min-width: 475px;
    
}
#fivesection .container{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 30px;
    top: -60px;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;

}
#fivesection  .nosotros{
    text-align: left;
    padding: 200px 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}


#fivesection .container .nosotros h2{
  
    text-align: center;
    padding-right: 430px;
    margin-bottom: 20px;
    

}

#fivesection .container .nosotros p{
    width: 85%;
    text-align: justify;
    padding: 0px 30px;
    max-width: 700px;
    display: flex;
    justify-content: center;

}

#fivesection .logo{

    justify-content: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 80px;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
}


/*Mision y Vision------------*/

#secondsection{
    height: 600px;
    /*background-color: #30e298;*/
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-width: 475px;

}
#secondsection .container{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 30px;
    top: -60px;
    justify-content: center;
    
}
#secondsection h2{
    margin: 10px;
    font-size: 3em;
    color: rgb(30, 209, 155);
}
#secondsection p{
    margin:0;
    font-size: 1.4em;
    color: rgb(255, 255, 255);

}
#secondsection p{
    /*
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
*/
}

#secondsection .mision-vision{
    padding: 0px 5px;
}

#secondsection .imagen-mision{
    display: flex;
    background-image: url("image/carros01.png");
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.50);

}
#secondsection .mision{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#secondsection .texto-mision{
    width: 85%;
    text-align: justify;
    padding: 0px 30px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#secondsection .imagen-vision{
    background-image: url("image/carros02.png");
    background-size: cover;
    background-position: center center;
    width: 600px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.50);
}
#secondsection .vision{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#secondsection .texto-vision{
    width: 85%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    padding: 0px 30px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Desarrolladores-----*/

#plana{
    height: auto;
    /* height: 760px; */
    background: linear-gradient(to bottom,  rgb(30, 209, 155), rgb(0, 214, 125));
    margin: auto;

    
}
/*
#plana .image-testimonio1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center center;
    /*height:80vh;
    color: rgb(82, 177, 82);*/

    /*background-image:url("image/conductor.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    /*
}
*/
#plana .title{
    color: #000000;
    margin-top: 80px;
}
#plana .container{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}
#plana .testimonio{
    width: 270px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    text-align: center;
    justify-content: center;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    color: rgb(255, 255, 255);
    /*box-shadow: 0px 0px 20px 5px white;*/
    
}
.foto-perfil_01,.foto-perfil_02,.foto-perfil_03, .foto-perfil_04 , .foto-perfil_05{
    width: 120px;
    height: 130px;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 25%;
    position: relative;
    top: -20px;
    box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
}
#plana .foto-perfil_01{
    background-image: url("image/jhon.png");
}
#plana .foto-perfil_02{
    background-image: url("image/axhel.png");
}
#plana .foto-perfil_03{
    background-image: url("image/ale.png");
}
#plana .foto-perfil_04{
    background-image: url("image/johan.png");
}
#plana .foto-perfil_05{
    background-image: url("image/diego.png");
}
.testimonio p{
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    
}

.foursection{
    height: 20vh;
    background-color: #000000;
    color: white;
    font-size: 0.3em;
    
}
/*Pie de pagina - Footer*/

footer {
    width: 100%;
    height: 300px;
    background-color: #000000;
    margin-top: auto;
    padding: 20px;
    min-width: 475px;
}
footer .container{
    display: flex; /*Columnas una de otras*/
    flex-wrap: wrap; /*Columnas debajo de otras*/
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

footer .seccion{
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height:0;
}

footer .seccion .logo img{
    width: 80px;
    height: 80px;
}

footer H2{

    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
footer .seccion a{

    color: rgb(184, 184, 184);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: auto;
    margin-right: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
footer .seccion a:hover{
    opacity: 0.8;
}
footer .seccion a .fab{
    font-size: 12px;
    
}

footer H3{

    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

footer .Copyright{
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 0px 50px;
}

footer .Copyright p{

    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
}

footer .Copyright hr{

    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*
.Copyright H2{

    color: white;
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-;
    font-size: 12px;
}
*/

 /*hr{

    position: relative;
    top: 20px;
    border: none;
    height: 5px;
    background:#848887;
    margin-bottom: 50px; 

}*/

/*Proyecciones--------------*/
#Proyecciones{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center ;
    height:auto;
    color: rgb(0, 0, 0);
    background-color: #a77c7c;
    background-size: cover;
}

#Proyecciones .titulo h2{
    margin: 0;
    font-size: 32px;
    color: #30e298;
}
#Proyecciones .titulo h3{
    margin: 0;
    font-size: 20px;
    color: #000000;
}
#Proyecciones .foto-satisfacer{
    background-image:url("image/satisfacer.png");
    width: 600px;
    margin: 20px;
    padding: 150px;
    text-align: center;
    margin-bottom: 200px;
}
#Proyecciones .foto-top{
    background-image:url("image/top.png");
    width: 600px;
    margin: 20px;
    padding: 150px;
    text-align: center;
    margin-bottom: 200px;
}


#sevensection{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center ;
    height:230px;
    color: #30e298;
    background-color: #000000;
    background-size: cover;

}
#sevensection .presentation h2{
    margin: 0;
    font-size: 2em;
    color: #30e298;
}

#sevensection01 {

    height:auto;
    color: rgb(0, 0, 0);
    background-color: #000000;
    background-size: cover;
    

}
#sevensection01 .container{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 30px;
    top: -60px;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}


#sevensection01 .foto-perfil_1{

    background-image:url("image/satisfacer.png");
    width: 600px;
    margin: 20px;
    padding: 150px;
    text-align: center;
    margin-bottom: 200px;
}
#sevensection01 .text{
    width: 600px;
    height: 300px;
    background-color:#30e298;
    position: relative;

    padding: 100px;
    text-align: center;
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
}


#sevensection01 .text .p{
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;

    
}

#sevensection02 {

    height:auto;
    color: rgb(0, 0, 0);
    background-color: #000000;
    background-size: cover;

}
#sevensection02 .container{
    display: flex;
    text-align: center;
    top: -60px;
    justify-content: center;
    align-items: center;
    background-position: center ;
    flex-wrap: wrap;
    height: auto;

}


#sevensection02 .foto-perfil_2{


    background-image:url("image/top.png");
    width: 600px;
    margin: 20px;
    padding: 150px;
    text-align: center;
    margin-bottom: 200px;




}
#sevensection02 .text{
    width: 600px;
    height: 300px;
    background-color:#30e298;
    position: relative;

    padding: 100px;
    text-align: center;
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
    flex-wrap: wrap
}


#sevensection02 .text .p{
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;

    
}
/*-------------------*/


#eightsection{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center ;
    height:200px;
    color: rgb(0, 0, 0);
    background-color: #050505;

    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

}
#eightsection .presentation h2{
    margin-top: 110px;  
    font-size: 2em;
    color: #30e298;
}
#eightsection .presentation p{
        color: #ffffff;
}
#ninesection{

    height: auto;
    background:#000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;

    
}
#ninesection .container{
    display: flex;
    text-align: center;
    padding: 0px 30px;
    top: -60px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-position: center ;
}

#ninesection .foto-perfil_3{

    display: flex;
    background-image:url("image/EstacionamientoLleno.jpg");
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 300px;
    padding: 50px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.50);
}
#ninesection .contenido{
    width: 800px;
    height: 300px;
    padding: 50px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#ninesection .title{
    color:#30e298;
    font-size: 1.5em;

}
#ninesection p{
    margin-top: 10px;
    font-size: 0.85em;
    color: #f4f5f5;
}
/*
.img-appstore-2{
    background-image: url("image/2_Applestore.png");
    width: 207px;
    height: 60.5px;
    border-radius: 5px;
    margin-right: 20px;

}
.img-playstore-2{
    background-image: url("image/1_Playstore.png");
    width: 207px;
    height: 60.5px;
    border-radius: 5px;
    margin-right: 20px;
}

#ninesection .image-dowload{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-position: center ;
    
}
/*
.img-appstore-2:hover{
    width: 237px;
    height: 70.5px;
    transition: .5s;
    cursor: pointer;
}
.img-playstore-2:hover{
    width: 237px;
    height: 70.5px;
    transition: .5s;
    cursor: pointer;
}
*/

#ninesection p{
    width: 85%;
    padding: 0px 30px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    font-size: 20px;
    
    margin-top: 30px;

}

#ninesection02{

    height: 500px;
    background:#000000;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
#ninesection02 .container{
    display: flex;
    text-align: center;
    padding: 0px 30px;
    top: -60px;
    justify-content: center;
    align-items: center;
    background-position: center ;
    height: auto;
}

#ninesection02 .foto-perfil_4{

    background-image:url("image/busqueda.png");
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 300px;
    padding: 50px;
}
#ninesection02 .Busqueda{
    width: 800px;
    height: 300px;
    padding: 50px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#ninesection02 .title{
    color:#30e298;
    font-size: 1.5em;


}
#ninesection02 p{
    margin-top: 45px;
    font-size: 0.85em;
    color: #f4f5f5;
    font-size: 20px;
}

#dmosection00{

    height:200px;
    background:#000000;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    
}


#dmosection00 .presentation h2{
 margin-top: 110px;  
  font-size: 2em;
    color: #30e298;


}
#dmosection00 .presentation p{
        color: #ffffff;
    }

#dmosection{

    height: 500px;
    background:#000000;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#dmosection p{

    color: white;
    margin-right: 35px;
    margin-top: 50px;
    
}
#dmosection .container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position: center ;
}
#dmosection .foto-perfil_5{
    width: 700px;
    height: 400px;
    background-image:url("image/gana01.png");
    background-repeat: no-repeat;
}


#dmosection .libre_casa{
    width: 700px;
    height: 400px;
    text-align: center;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#dmosection .title{
    color:#30e298;
    text-align: center;

    margin-top: 100px;
    font-size: 1.5em;

}
#dmosection p{
    padding: 0 30px;
    max-width: 900px;
    margin-left: 10%;

}

#planes{


    height: auto;
    background:#000000;
    background-size: cover;
    background-repeat: no-repeat;

}
#planes .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#planes .titulo-planes{
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding-top: 50px;
    color: #30e298;
}

#planes .titulo-planes h2{
    font-size: 2em;
}

#planes .tablas{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

#planes .tabla{
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    margin: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px -5px black;

}
.tabla:nth-child(1){
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.tabla:nth-child(2){
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.tabla:nth-child(3){
    background:  #d7d7d7;
}

.titulo{
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.icon-precio{
    display: block;
    text-align: center;
    font-size: 60px;
     margin-left: -30%;
}

.sub_titulo{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#planes .texto{
    font-size:1em;
    line-height: 30px;
    margin: 5px 10px;
    text-align:center;
}

.enlace{
    display: block;
    text-decoration: none;
    color: rgb(49, 49, 49);
    margin: auto;
    text-align: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    width: 200px;
    border-radius: 50px;
    padding: 10px;
    font-size: 1em;
    margin-top: 90px;

}

.enlace:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
}

.link-footer{
    text-decoration: none;
}

.link-footer:hover{
    cursor: pointer;
    color: #0b3ad1;
}

#oncevosection{
    height: auto;
    background:#000000;
    background-size: cover;
    background-repeat: no-repeat;
}
#oncevosection .form{
    background-color: #ffffff;
    width: auto;
    max-width: 800px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: o 5px 10px -5px rgba(0, 0, 0, 0.3);
    left: 500px;
    margin-bottom: 150px;
    margin-top: 100px;
}

#oncevosection .form .form_title{
    font-size: 2rem;
    margin-bottom: .5em;
    color: #000000;

}

.form_paragrah{
    font-weight: 300;
}
.form_link{
    font-weight: 400;
    color : black;
}
.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
    flex-wrap: wrap
}
.form_group{
 position: relative;
 color:#000000;
 margin-right: 50px;
}

.form_imput{
    width: 100%;
    background: none;
    color: #414242; 
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
}
.form_label{
    color: #000000;
    cursor: pointer;
    position:absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_imput:focus,
.form_imput:not(:placeholder-shown){
    color: #2fcece;
}

.form_imput:focus + .form_label,
.form_imput:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:#2ef1c7;
}
.form_submit{
    font-size: 15px;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 10px;
    border:2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(0, 0, 0);
    background-color: #30e298;
     margin: 30px;

}
.form_submit:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
    
}
 .form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:#2ef1c7 ;
    transform: scale(0);
    transform: left bottom;
    transform: transform .4s;

 }
 .form_imput:focus ～ .form_line,
.form_imput:not(:placeholder-shown) ～ .form_line{
    transform: scale(1);
   
}
#oncevosection .Datos{
    display: flex;
}
#oncevosection .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center center;
    
}
#oncevosection .imgen_07{
    background-image:url("image/plata.png");
    width: 650px;
    height: 900px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 200px;
}
#doceavsection {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center center;
    height:950px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    flex-wrap: wrap;
}
#doceavsection .title{
    color: #30e298;
}

#doceavsection .presentation{
    margin-top: 80px;
}
#form_01{
    background-color: #131212;
    width: auto;
    padding: 4.5em 3em;
    border-radius: 10px;
    margin-right: -5%;
    box-shadow: o 5px 10px -5px rgb(48, 48, 48);
    flex-wrap: wrap;

}
#form_01 .form_paragrah{
    font-weight: 300;
}
#form_01 .form_link{
    font-weight: 400;
    color : rgb(243, 236, 236);
}
#form_01 .form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
#form_01 .form_group{
 position: relative;
 color:#fff5f5;
 margin-right: 50px;
}

#form_01 .form_imput{
    width: 100%;
    background: none;
    color: #f0f8f8; 
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(250, 243, 243);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#form_01 .form_label{
    color: #ffffff;
    cursor: pointer;
    position:absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

#form_01 .form_imput:focus,
#form_01 .form_imput:not(:placeholder-shown){
    color: #ffffff;
}

#form_01 .form_imput:focus + .form_label,
#form_01.form_imput:not(:placeholder-shown) + #form_01 .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:#2ef1c7;
}
#form_01 .form_submit{
    font-size: 0.5em;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 10px;
    border:2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.774);
    color:#080808;
    background-color:#2ef196;
     margin: 30px;

}
#form_01 .form_submit:hover{
    background-color: #2ef1c7;
}
#form_01 .form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:#2ef1c7 ;
    transform: scale(0);
    transform: left bottom;
    transform: transform .4s;

 }
 #form_01 .form_imput:focus ～ #form_01 .form_line,
 #form_01 .form_imput:not(:placeholder-shown) ～ #form_01 .form_line{
    transform: scale(1);
   
}

#form_01 .Datos{
    display: flex;
}
#doceavsection .presentation{
    margin-right:15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center ;


}
#treceavsection{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center center;
    height:550px;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    flex-wrap: wrap;
    
}

/*
#treceavsection .h2{
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}
*/
/*Responsive-------*/

@media (max-widht: 952px){

}

/*
@media (max-width: 420px) {
    
    #Slogan-Inicial .container .image-download .img-1{
        padding-right: 0%;
    }
    #Slogan-Inicial .container .image-download .img-2{
        padding-left: 0%;
    }


}
*/
@media(max-width: 720px){
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
        top: 80px;
        left: -100%;
        text-align: center;
        flex-direction: column;
        transition: all .5s;
        display: flex; 
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul  a{
        font-size: 20px;
    }
    nav a:hover{
        color: #30e298;
        border-bottom: 4px solid #30e298;
        transition: .5s;
    }
    #check:checked ~ ul{
        left:0;
    }


    /*Inicio--------------------*/


    /*Interfaz inicial*/


    #Slogan-Inicial .container .image-download{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }

    /*Caracteristicas*/
    #Caracteristicas .container .imagenPrincipal img{
        display: none;
    }
    #Caracteristicas .container{
        justify-content: center;
        align-items: center;
    }
    #Caracteristicas{
        height: auto;
        
    }
    #Caracteristicas .container .Cuadrados{
        margin: auto;
        align-items: center;
        flex-direction: column;
        
        display: block;
    }
    #Caracteristicas .container .contenido{
        margin-top:  auto;
        margin-left: auto;
    }
    #Caracteristicas .container .Cuadrados .Seccion .Cuadros p{
    
        /* display: none; */
        
    }
    #Caracteristicas .container .Cuadrados .Seccion{
        text-align: center;
        align-items: center;
        display: block;
        margin: auto;
        /* display: block; */
        width: auto;
    }
    #Caracteristicas .container .Cuadrados .Seccion .Cuadros{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        width: auto;
        
    }
/*Segmentos*/

.img-arrendador{
    display: none;
   }
   .img-parkero{
    display: none;
   
   }

   #Segmentos .container{
       justify-content: center;
       align-items: center;
       height: auto;
       
   }

   #Segmentos  .arredandor {
       text-align: center;
       align-items: center;
       justify-content: center;
       width: auto;
        margin: auto;


   
   }
   #Segmentos  .Conductor {
       align-items: center;
       justify-content: center;
       text-align: center;
       display: flex;
       margin: auto;
   
   }

   #Segmentos .container .contenido .arredandor .texto{
       text-align: center;
       align-items: center;
       justify-content: center;
       margin: auto;
       padding-left: 20%;

   
   }
   #Segmentos  .container .contenido  .Conductor  .texto{
       align-items: center;
       justify-content: center;
       text-align: center;
       margin: auto;

       padding: 0%;
       
   }
    /*Testimonios*/

    #thirdsection-1 .container{
        flex-direction: column;
    }
    #thirdsection-1 {
        height: auto;
    }

    #thirdsection-1 .testimonio{
        width: auto;
        height:auto;
        display: block;
    }

    /*Nosotros--------------------*/

    
    
    /*Nosotros*/
    #fivesection .img-container{
        display: none;
    }
    #fivesection .container{
        margin: auto;
    }

    #fivesection .container .nosotros  h2{
        text-align: center;
        padding: 0%;
    }

   #fivesection .container .nosotros  p{
        text-align: center;
        justify-content: center;
        padding: 0%;
   }

   /*Mision y Vision*/


   #secondsection .mision .imagen-mision{
    order: 2;
    }
    /*
    #secondsection .vision .imagen-vision{
    display: none;
    }  */
   .mision-vision .texto-mision p{
        text-align: center;
        order: 1;
    }
    .mision-vision .texto-vision p{
        text-align: center;
    }
    
   /*Desarrolladores*/
   #plana .container{
    flex-direction: column;
    }

    #plana {
    height: auto;
    }

    #plana .container .testimonio {
        align-items: center;
        width: auto;
    }

    /*Gana con nosotros*/

    #dmosection .foto-perfil_5{
        display: none;
    }
    #dmosection .libre_casa{
        width: 700px;
        height: 500px;
    }
    /*Contactanos--------------*/


    #treceavsection {
        display: none;
    }
    #treceavsection .mapa{
        display: none;
    }

    /*Footer----------------------*/
    footer{
        height: auto;
    }
}